body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

p{
    width: 50%;
    text-align: center;
    margin-left: 24%;
}

.wrapper{
    display: flex;
    gap: 3%;
}
.game-container{
    border-radius: 20px;
    background: white;
    text-align: center;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label{
    display: block;
    margin-bottom: 10px;
}

.team1{
    margin-bottom: 3%;
    display: block;
}

.team2{
    margin-bottom: 3%;
}

.container {
    width: 50%;
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

.player-info {
    margin-bottom: 20px;
}

.player-info label {
    display: block;
    margin: 5px 0;
}

.player-info input {
    width: calc(100% - 12px);
    padding: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.team {
    background-color: #e7e7e7;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.question {
    margin: 20px 0;
    text-align: center;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.timer {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.points {
    font-size: 0.9em;
    color: #ffdd57;
}

footer {
    text-align: center;
    margin-top: 20px;
}
